---
import SectionTitle from "../ui/SectionTitle.astro";
import Button from "../ui/Button.astro";
import type { MeetupContent } from "../../config/types";

export interface Props {
  content: MeetupContent;
}

const { content } = Astro.props;
---

<section class="contact">
  <div class="contact__container">
    <!-- <h2 class="contact__title">Get In Touch</h2> -->
    <SectionTitle title="Get In Touch" />
    <p class="contact__subtitle">Join our community and stay updated</p>

    <div class="contact__links">
      {
        content.contact.meetup && (
          <Button href={content.contact.meetup} variant="secondary">
            Meetup.com
          </Button>
        )
      }
      {
        content.contact.twitter && (
          <Button href={content.contact.twitter} variant="outline">
            Twitter
          </Button>
        )
      }
      {
        content.contact.email && (
          <Button href={`mailto:${content.contact.email}`} variant="outline">
            Email
          </Button>
        )
      }
      {
        content.contact.discord && (
          <Button
            href={content.contact.discord}
            variant="outline"
            class="discord-button"
          >
            <span class="discord-button__text">Discord</span>
            <svg
              width="141"
              height="22"
              viewBox="0 0 141 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.0105 0.602661C17.7359 1.08332 17.4892 1.58056 17.265 2.08885C15.1349 1.77394 12.9656 1.77394 10.8299 2.08885C10.6113 1.58056 10.3591 1.08332 10.0844 0.602661C8.08326 0.939689 6.13255 1.53084 4.28276 2.36509C0.616777 7.71869 -0.37539 12.9341 0.117897 18.0778C2.26478 19.6413 4.66954 20.8347 7.23123 21.5971C7.80859 20.8347 8.3187 20.0225 8.75592 19.1772C7.9263 18.8734 7.12472 18.4922 6.35678 18.0502C6.55857 17.9065 6.75476 17.7574 6.94535 17.6137C11.4465 19.7021 16.6596 19.7021 21.1664 17.6137C21.357 17.7684 21.5532 17.9176 21.755 18.0502C20.987 18.4977 20.1855 18.8734 19.3502 19.1828C19.7875 20.0281 20.2976 20.8402 20.8749 21.6027C23.4366 20.8402 25.8413 19.6524 27.9884 18.0889C28.5712 12.122 26.9905 6.95072 23.8121 2.37062C21.968 1.53637 20.0173 0.945202 18.0161 0.613708L18.0105 0.602661ZM9.38373 14.9121C7.99919 14.9121 6.85007 13.6745 6.85007 12.1441C6.85007 10.6137 7.95434 9.37062 9.37813 9.37062C10.8019 9.37062 11.9342 10.6192 11.9118 12.1441C11.8894 13.669 10.7963 14.9121 9.38373 14.9121ZM18.7224 14.9121C17.3323 14.9121 16.1944 13.6745 16.1944 12.1441C16.1944 10.6137 17.2986 9.37062 18.7224 9.37062C20.1462 9.37062 21.2729 10.6192 21.2505 12.1441C21.2281 13.669 20.135 14.9121 18.7224 14.9121ZM37.4725 3.51519H45.8388C47.8553 3.51519 49.5613 3.82529 50.9566 4.44551C52.2414 4.97786 53.3323 5.88143 54.0856 7.03711C54.7908 8.17876 55.1521 9.4945 55.1275 10.8309C55.143 12.1734 54.7676 13.4921 54.0457 14.6307C53.2405 15.8334 52.089 16.7717 50.739 17.325C49.2599 17.9895 47.4262 18.3207 45.2381 18.3187H37.4725L37.4725 3.51519ZM45.1523 14.5521C46.511 14.5521 47.555 14.2179 48.2843 13.5493C49.0325 12.8342 49.383 11.8601 49.3784 10.8097C49.3824 9.83728 49.0721 8.93023 48.4039 8.24229C47.7501 7.60194 46.7664 7.28075 45.4527 7.27874H42.8355V14.5521H45.1523ZM67.6555 18.2945C66.5518 18.022 65.4959 17.5872 64.5235 17.0048V13.495C65.3725 14.1036 66.3284 14.5521 67.3429 14.818C68.4528 15.1517 69.6057 15.3257 70.7661 15.3345C71.1665 15.3555 71.5666 15.2874 71.9367 15.1351C72.2003 15.0022 72.3321 14.8331 72.3321 14.6579C72.3378 14.46 72.2601 14.2687 72.1175 14.1293C71.8728 13.9437 71.5855 13.8203 71.2809 13.7698L68.7067 13.199C67.2316 12.8607 66.1845 12.3925 65.5655 11.7944C64.9372 11.1698 64.6036 10.314 64.6461 9.43541C64.6358 8.64789 64.9268 7.88542 65.4613 7.29991C66.095 6.63924 66.8941 6.1548 67.7781 5.89538C68.9158 5.54293 70.1039 5.37463 71.2962 5.39701C72.4093 5.3867 73.5192 5.51456 74.5998 5.77759C75.4727 5.98142 76.3109 6.30904 77.0883 6.75019V10.0727C76.3593 9.65587 75.5756 9.3398 74.7592 9.13336C73.8747 8.89961 72.9628 8.78181 72.0471 8.78299C70.7027 8.78299 70.0305 9.00852 70.0305 9.45959C70.026 9.66495 70.1467 9.85301 70.337 9.93683C70.7043 10.0907 71.0891 10.2003 71.4832 10.2631L73.6283 10.6436C75.0217 10.8853 76.0606 11.3082 76.745 11.9123C77.4295 12.5164 77.7727 13.4004 77.7747 14.5643C77.7969 15.8097 77.1472 16.9732 76.0678 17.621C74.938 18.3681 73.325 18.7406 71.2288 18.7386C70.0234 18.7404 68.8227 18.5912 67.6555 18.2945ZM82.8435 17.8505C81.6967 17.3311 80.73 16.4908 80.064 15.4341C79.4427 14.3979 79.1245 13.2124 79.1446 12.0089C79.1261 10.8061 79.4614 9.62378 80.1099 8.60476C80.8012 7.56466 81.7853 6.7459 82.9416 6.24875C84.3475 5.64496 85.8706 5.35216 87.4036 5.39092C89.5488 5.39092 91.3293 5.83494 92.7452 6.72296V10.5983C92.2065 10.2414 91.6181 9.96361 90.9984 9.77367C90.3046 9.5578 89.5807 9.45077 88.8532 9.45652C87.5231 9.45652 86.4822 9.69614 85.7304 10.1754C84.6736 10.7567 84.2951 12.0722 84.8849 13.1137C85.077 13.4531 85.3585 13.7351 85.6997 13.9299C86.4291 14.4152 87.4874 14.6578 88.8746 14.6578C89.5906 14.6595 90.3031 14.5578 90.9891 14.3558C91.615 14.1789 92.2161 13.9263 92.7789 13.6037V17.3491C91.1206 18.302 89.2276 18.7849 87.3086 18.7446C85.7705 18.7859 84.2433 18.4802 82.8435 17.8505ZM98.0868 17.8505C96.927 17.3286 95.9433 16.49 95.252 15.4341C94.6006 14.4003 94.2625 13.2046 94.2775 11.9877C94.2567 10.7853 94.5956 9.60341 95.252 8.58964C95.9469 7.5606 96.9264 6.7493 98.0745 6.25177C100.895 5.12405 104.05 5.12405 106.87 6.25177C108.013 6.74551 108.989 7.55283 109.68 8.57756C110.332 9.59508 110.668 10.7784 110.645 11.9817C110.661 13.1973 110.326 14.3923 109.68 15.4281C108.996 16.4847 108.017 17.3239 106.861 17.8445C104.059 19.0285 100.888 19.0285 98.0868 17.8445L98.0868 17.8505ZM104.605 14.0991C105.141 13.554 105.425 12.8153 105.39 12.0572C105.427 11.3059 105.142 10.5737 104.605 10.0395C104.023 9.51307 103.249 9.24173 102.46 9.28739C101.672 9.24652 100.9 9.51725 100.315 10.0395C99.7795 10.5748 99.4961 11.3065 99.5333 12.0572C99.4985 12.8147 99.7811 13.5529 100.315 14.0991C100.894 14.6321 101.668 14.9101 102.46 14.8693C103.252 14.9147 104.028 14.636 104.605 14.0991ZM123.538 6.17324V10.7463C122.898 10.3696 122.159 10.1859 121.414 10.2177C120.271 10.2177 119.389 10.562 118.776 11.2447C118.163 11.9273 117.856 12.9875 117.856 14.4253V18.3157H112.601V5.9467H117.749V9.87337C118.035 8.43562 118.497 7.3754 119.134 6.69277C119.76 6.01342 120.668 5.65649 121.586 5.6658C122.266 5.66438 122.95 5.82346 123.538 6.17324ZM141 3.09232V18.3157H135.744V15.5368C135.348 16.5261 134.636 17.3615 133.716 17.917C132.7 18.4875 131.544 18.7717 130.375 18.7385C129.275 18.7638 128.193 18.4662 127.265 17.8837C126.366 17.3083 125.65 16.4949 125.199 15.5368C124.707 14.4792 124.462 13.3263 124.482 12.1629C124.447 10.9567 124.708 9.76006 125.242 8.67421C125.733 7.67962 126.499 6.84198 127.452 6.25781C128.431 5.67296 129.558 5.37248 130.703 5.39092C133.204 5.39092 134.884 6.46221 135.744 8.60476V3.09232H141ZM134.972 14.0266C135.514 13.5011 135.806 12.7755 135.778 12.027C135.801 11.3006 135.508 10.5993 134.972 10.0999C133.732 9.1053 131.955 9.1053 130.715 10.0999C130.181 10.6107 129.893 11.3212 129.922 12.0542C129.894 12.7939 130.186 13.5105 130.724 14.0266C131.293 14.5477 132.051 14.821 132.827 14.7847C133.616 14.8277 134.39 14.5543 134.972 14.0266ZM59.5589 2.62415C61.006 2.62415 62.1791 3.66273 62.1791 4.94391C62.1791 6.22508 61.006 7.26366 59.5589 7.26366C58.1118 7.26366 56.9387 6.22508 56.9387 4.94391C56.9387 3.66273 58.1118 2.62415 59.5589 2.62415ZM56.9356 8.8615C58.6124 9.5561 60.5023 9.5561 62.1791 8.8615V18.3821H56.9356V8.8615Z"
                fill="white"
              />
            </svg>
          </Button>
        )
      }
    </div>
  </div>
</section>

<style>
  .contact__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .contact__title {
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 700;
    margin: 0 0 1rem 0;
  }

  .contact__subtitle {
    font-size: 1.25rem;
    margin: 0 0 3rem 0;
    opacity: 0.9;
  }

  .contact__links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    .contact {
      padding: 4rem 0;
    }

    .contact__container {
      padding: 0 1rem;
    }

    .contact__links {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .discord-button__text {
    display: none;
  }
</style>
